.custom-container {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    .title{
        font-weight: 400;
    }
    .section_charts {
        display: flex;
        justify-content: space-between;

    }
}