.section {
    width: 900px;
    margin-top: 10px;
    &_settings {
        display: block;
        .title {
            font-size: 25px;
            padding: 5px, 0px, 10px, 0px;
        }
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .search-panel{
                width: 215px;
            }
            margin-bottom: 10px;

        }
        .products-menu {
            padding: 0 5px 0px 5px;
            .products_list {
                display: flex;
                .alert-item{
                    margin-right: 8px;
                    cursor: pointer;
                }
                .alert-item:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
    .chart{
        margin-top: 10px;
    }
}

@media (max-width: 1960px){
    .custom-container{
        width: 95vw;
    }
    .section {
        width: 700px;
    }
}
@media (max-width: 1600px){
    .section {
        width: 650px;
    }
}
@media (max-width: 1440px){
    .section {
        width: 600px;
    }
}
@media (max-width: 1340px){
    .custom-container {
        width: 90vw;
        .section_charts {
            align-items: center;
            flex-direction: column ;
            .section {
                margin-bottom: 20px;
                width: 750px;
            }
        }
        
    }
}
@media (max-width: 850px){
    .custom-container {
        width: 98vw;
        .section_charts {
            .section {
                width: 650px;
            }
        }
        
    }
}
@media (max-width: 720px){
    .custom-container {
        width: 99vw;
        .section_charts {
            .section {
                width: 600px;
            }
        }
        
    }
}


.display-none {
    display: none;
}
.display-block {
    display: block;
}
.alert-warning{
    margin-top: 5px;
    margin-bottom: 5px;
}